:root {
  --ff-main: "Open Sans", sans-serif;
  --primary-color: #fe724c;
  --primary-hover-color: #df6442;
  --text-black: #000;
  --text-secondary-color: #5b5b5e;
  --text-email: #9ea1b1;
  --white-color: #fff;
  --text-placeholder: #c4c4c4;
  --bg-placeholder: #fcfcfc;
  --separator-color: #d4d6e0;
  --box-shadow-button: 0px 10px 40px 0px rgba(122, 129, 190, 0.16);
  --box-shadow-input: 15px 20px 45px 0px rgba(233, 233, 233, 0.25);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  
} */
